* {
    margin: 0;
    padding: 0;
}

body {
    background: #1f1f1f;
}

.body-before-opacity {
    opacity: 0.6;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("images/bg-header-cut.jpg");
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: 0.6;
    background-repeat: no-repeat;
    /* Evita a repetição da imagem */
}

#burguer{
    color: #FFF;
}

.container {
    margin-left: 100px;
    margin-right: 80px;
}

header {
    padding-top: 20px;
    height: 100vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    padding-top: 10px;
}

nav img {
    width: 40%;
    filter: brightness(110%);
    float: left;
}

.menu__links {
    padding: 2vh;
    font-weight: 300;
    text-decoration: none;
    color: #FFF;
    font-family: helvetica;
    font-size: 3.4vh;
}

/*section home first to appear*/

.section-home {
    margin-top: 15vh;
    height: 60vh;
    width: 100vh;
}

.section-home__h1 {
    color: #FFF;
    font-family: helvetica;
    font-size: 6vh;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.section-home__description {
    margin-top: 5vh;
    color: #FFF;
    font-family: helvetica;
    font-size: 3.5vh;
    font-style: normal;
    font-weight: 100;
    line-height: 150%;
}

.buttons {
    margin-top: 8vh;
}

.buttons__services {
    margin-right: 5vh;
    padding: 3vh 4vh;
    color: #000;
    font-family: helvetica;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-radius: 6px;
    border: 1px solid var(--Black, #000);
    background: #FFF;
    cursor: pointer;
    transform: translatey(0px);
    transition: transform 0.6s;
}

.buttons__services:hover {
    transform: translatey(-2.2vh);
    transition: transform 0.6s;
}

.buttons__contact {
    padding: 3vh 4vh;
    color: var(--White, #FFF);
    font-family: helvetica;
    font-size: 3vh;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #FFF;
    backdrop-filter: blur(100px);
    cursor: pointer;
    transform: translatey(0px);
    transition: transform 0.6s;
}

.buttons__contact:hover {
    transform: translatey(-2.2vh);
    transition: transform 0.6s;
}


/*section cards services*/

#section-features {
    justify-content: space-between;
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.section-features__card {
    padding: 0.7vh;
    background-color: #161616;
    border-radius: 2vh;
    font-family: helvetica;
    font-size: 2.8vh;
    font-style: normal;
    font-weight: 100;
    line-height: 150%;
    color: white;
    width: 60vh;
    height: 80vh;
    text-align: justify;
}

.section-features__card h1 {
    margin: 6vh;
    text-align: center;
}

.section-features__card p {
    margin: 2vh;
}

.section-features__card img {
    border-radius: 2vh;
    width: 100%;
    height: 40vh;
}

.section-features__card:hover {
    border: solid 2px black;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
}

/*section DEPS who we are*/
.section-who-we-are {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60vh;
    gap: 50px;
    margin-bottom: 5vh;
}

.section-who-we-are>div {
    flex: 0 0 220px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out, background 2s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #000000;
    position: relative;
    overflow: hidden;
}

.section-who-we-are>div:nth-of-type(1) {
    background: url("images/D.png") no-repeat 8% 6%;
}

.section-who-we-are>div:nth-of-type(1):hover {
    background: url("images/D.png") no-repeat 8% 0% / cover;
}

.section-who-we-are>div:nth-of-type(2) {
    background: url("images/2.png") no-repeat 5% 45%;
}

.section-who-we-are>div:nth-of-type(2):hover {
    background: url("images/2.png") no-repeat 5% 45% / cover;
}

.section-who-we-are>div:nth-of-type(3) {
    background: url("images/3.png") no-repeat 5% 45%;
}

.section-who-we-are>div:nth-of-type(3):hover {
    background: url("images/3.png") no-repeat 5% 45% / cover;
}

.section-who-we-are>div:nth-of-type(4) {
    background: url("images/4.png") no-repeat 5% 45%;
}

.section-who-we-are>div:nth-of-type(4):hover {
    background: url("images/4.png") no-repeat 5% 45% / cover;
}

.section-who-we-are>div .section-who-we-are__content {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
            rgba(2, 2, 46, 0.6755077030812324) 0%,
            rgba(255, 255, 255, 0) 100%);
    transform: translateY(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    visibility: hidden;
}

.section-who-we-are>div:hover {
    flex: 0 0 100vh;
    box-shadow: 1px 3px 15px #000000;
    transform: translateY(-30px);
}

.section-who-we-are>div:hover .section-who-we-are__content {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
}

.section-who-we-are>div .section-who-we-are__content span {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
}