* {
    margin: 0;
    padding: 0;
}

body {
    background: #141414;
}


header {
    height: 100vh;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("bg-fundo-cortado.jpg");
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: 0.6;
}

nav {
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
    display: flex;
    height: 15%;
    padding-top: 10px;

}

nav img {
    width: 40%;
    filter: brightness(110%);
    float: left;
}

nav a {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#link-logo{
    
}

.links-nav {
    
}