/********** Variaveis **********/

:root {
  --color-red-deps: #b00000;
  --color-yellow-deps: #feac0e;
  --color-blue-deps: #0046af;
  --color-faint-blue-deps: #49beff;
  --color-white-deps: #fff;
  --color-black-deps: #000;
  --dark-background: #212529;
  --low-opacity: #b5b5b5;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-xl: 4rem;
}

/********** Commons **********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    poppins,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
}

/********** Typography **********/

h1,
h2,
h3 {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

p {
  font-family: poppins;
}

.description {
  color: #000;
  font-size: 1.1rem;
  text-align: justify;
  font-weight: 400;
  padding-top: 2rem;
}

.light {
  color: var(--color-white-deps);
}

.dark {
  color: var(--color-black-deps);
}
.titles {
  font-size: 3.5rem;
}

.titles-center {
  text-align: center;
}

.titles-end {
  text-align: end;
  margin-right: 2rem;
}

.subtitles {
  font-size: 1.5rem;
  font-weight: 100;
}

.links {
  font-size: 1.2rem;
  padding: 2vh;
  font-weight: lighter;
  text-decoration: none;
  color: var(--low-opacity);
  font-family: poppins;
}

.links:hover {
  color: #fff;
}

.link-smooth {
  transition: 0.2s;
}

.link-smooth:hover {
  color: #333;
  cursor: pointer;
}

.link-smooth:active {
  color: #666;
}

.yellow-emphasis {
  color: var(--color-yellow-deps);
}

.blue-emphasis {
  color: var(--color-blue-deps);
}

.light-blue-emphasis {
  color: var(--color-faint-blue-deps);
}

.red-emphasis {
  color: var(--color-red-deps);
}

.bold {
  font-weight: 900;
}

.title-kaftan {
  font-family: kaftan;
  font-size: 4rem;
}

.subtitle-kaftan {
  font-family: kaftan;
  font-size: 4rem;
}