/*********** Estilos para dispositivos móveis (até 767 pixels) ***********/

@media (max-width: 767px) {
  /********** Body **********/
  body {
    width: 100%;
    text-align: center;
    overflow-x: hidden;
  }

  /********** Typography **********/

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .titles {
    font-size: 2.25rem;
  }

  .subtitles {
    font-size: 1rem;
  }

  .title-kaftan {
    font-size: 3rem;
  }

  .subtitle-kaftan {
    font-size: 2.8rem;
  }

  /********** Buttons ***********/

  #button-header {
    margin-top: 10%;
  }

  /********** Header **********/

  header {
    width: 100%;
    text-align: center;
  }

  .section-home {
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .section-home h2 {
    margin: 0 0.6rem 0 0.6rem;
  }

  .title-home {
    margin-bottom: var(--spacing-md);
    font-size: 2.5rem;
  }

  .subtitles-home {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
  }

  /********** Navigation Bar **********/

  nav {
    display: flex;
    justify-content: center;
  }

  .logo-nav {
    width: 14rem;
    margin-left: 10rem;
  }

  .menu-toggle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #333;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 1001;
    transition: background-color 0.3s ease;
  }

  .menu-toggle:hover {
    background-color: #555;
  }

  .hamburger-icon {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .menu-toggle.active .hamburger-icon span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .menu-toggle.active .hamburger-icon span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .hamburger-icon span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
    transform: scale(0.9);
  }

  .menu.show {
    display: block;
    opacity: 1;
    transform: scale(1);
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .menu ul li {
    width: 100%;
  }

  .links {
    color: white;
    font-size: 24px;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }

  .menu.show .links {
    opacity: 1;
    transform: translateY(0);
  }

  /********** Modal Contato ************/

  .label-contato {
    text-align: left;
    display: block;
  }

  /******** Presentation - Carousel ***********/

  #presentation {
    display: block;
  }

  #title-presentation {
    font-size: 2.735rem;
  }

  #span-presentation {
    font-size: 3.235rem;
  }

  .line-break {
    display: none;
  }

  #presentation #title-presentation {
    margin: 1rem;
  }

  .splide__slide figure video {
    width: 90%;
  }

  .projects {
    height: 75vh;
  }

  .splide__slide.is-active figure .main-figure {
    transform: translate3d(0, 0, 0);
    transition-property: opacity, transform;
    width: 90%;
  }

  .splide__slide.is-active figure .main-figure p {
    font-size: 3rem;
  }

  .splide__slide.is-active figure .footer-figure {
    transform: translate3d(0, 0, 0);
    transition-property: opacity, transform;
    width: 90%;
  }

  /*********** Who-We-Are ************/

  .container-main {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  .left-features,
  .right-features {
    width: 100%;
    padding: 0 1rem;
  }

  .feature-card {
    height: 100%;
    margin-top: 1rem;
  }

  .feature-card-bgimage {
    display: none;
  }

  .right-features {
    margin-top: 0rem;
  }

  /********* Acronym ********/

  .deps-acronym {
    width: 100%;
  }

  .about-acronym {
    display: none;
  }

  #label-design,
  #label-efficiency,
  #label-productivity,
  #label-simplicity {
    margin-left: 2rem;
    transition: 0.5s;
    width: 85%;
    border-radius: 8vh;
  }

  #label-design:hover,
  #label-design.active {
    padding-left: 2rem;
  }

  #label-efficiency:hover,
  #label-efficiency.active {
    padding-left: 2rem;
  }

  #label-productivity:hover,
  #label-productivity.active {
    padding-left: 2rem;
  }

  #label-simplicity:hover,
  #label-simplicity.active {
    padding-left: 2rem;
  }

  .deps-titles {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
    position: relative;
    padding: 0.5rem 1rem;
  }

  .deps-titles span:first-child {
    margin-right: 0.5rem;
  }

  /******** Services **********/

  .title-services {
    margin: 2rem 0 3rem 0;
    text-align: center;
  }

  .title-services span {
    font-size: 3rem;
  }

  .span-emphasis {
    margin-left: 0;
    display: block;
  }

  .block-cards {
    margin-top: 2rem;
  }

  .custom-card {
    display: block;
    width: 85%;
    margin-bottom: var(--spacing-sm);
  }

  .bold {
    font-size: 1.5rem;
  }

  .card-footer {
    font-size: 1.2rem;
  }

  /********* Landing Pages ********/

  .landing-pages__content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .text-content,
  .image-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .image-content {
    margin-top: 2rem;
  }

  .list {
    margin-top: 1.5rem;
  }

  /********* Stock Management *********/

  .stock-management__content {
    display: flex;
    flex-direction: column;
  }

  .image-content {
    order: 2;
    height: 100%;
  }

  .text-content {
    order: 1;
  }

  /********* E-commerce *********/

  .e-commerce__content {
    display: flex;
    flex-direction: column;
  }

  /*********** FAQ ************/

  #faq {
    height: 100%;
    padding: 3rem 1rem 1.75rem 1rem;
  }

  .faq-container {
    flex-direction: column;
    gap: 0;
    height: auto;
  }

  .faq-half {
    flex: 1 1 100%;
  }

  .faq-item {
    min-width: 100%;
    margin-top: 1.5rem;
  }

  #faq h2 {
    font-size: 1.75rem;
  }

  .faq-item h3 {
    font-size: 1.25rem;
  }

  .faq-item p {
    font-size: 0.95rem;
  }

  /*********** Footer ************/

  #footer {
    max-width: 100%;
    overflow-x: hidden;
    padding: 2rem;
  }

  .footer-content {
    padding: 1rem;
    box-sizing: border-box;
  }

  .row {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .app-info,
  .navegation,
  .form {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
  }

  .app-name {
    font-size: 1.25rem;
  }

  .app-info p {
    font-size: 0.875rem;
  }

  .navegation {
    display: none;
  }

  .icons-img-links {
    padding-top: 0.5rem;
  }

  .img-links {
    font-size: 1.25rem;
    margin-right: 0.75rem;
  }

  .form h4 {
    font-size: 1rem;
  }

  input,
  textarea {
    font-size: 0.75rem;
    padding: 0.5rem;
  }

  .btn-form {
    width: auto;
    padding: 0.5rem 1rem;
  }

  .copyright {
    font-size: 0.75rem;
  }

  #container-features {
    flex-wrap: wrap;
  }
}

/*********** Estilos para dispositivos móveis (até 1024 pixels) ***********/

@media (min-width: 768px) and (max-width: 1024px) {
  /*********** Navigation Bar ************/
  .logo-nav {
    width: 20rem;
  }

  .section-home {
    margin: 5rem 0 0 5rem;
  }

  .menu-toggle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #333;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 1001;
    transition: background-color 0.3s ease;
  }

  .menu-toggle:hover {
    background-color: #555;
  }

  .hamburger-icon {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .menu-toggle.active .hamburger-icon span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .menu-toggle.active .hamburger-icon span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .hamburger-icon span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
    transform: scale(0.9);
  }

  .menu.show {
    display: block;
    opacity: 1;
    transform: scale(1);
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .links {
    color: white;
    font-size: 1.2rem;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }

  .menu.show .links {
    opacity: 1;
    transform: translateY(0);
  }

  /*********** Presentation - Carousel ***************/

  .line-break {
    display: none;
  }

  .splide__slide.is-active figure .main-figure {
    transform: translate3d(0, 0rem, 0);
    transition-property: opacity, transform;
    width: 90%;
  }

  .splide__slide.is-active figure .main-figure p {
    font-size: 3rem;
  }

  .splide__slide.is-active figure .footer-figure {
    transform: translate3d(0, 0, 0);
    transition-property: opacity, transform;
    width: 90%;
  }

  /*********** Acronym ************/

  .deps-acronym {
    width: 70%;
  }

  .about-acronym {
    display: none;
  }

  #label-design {
    width: 100%;
  }

  #label-efficiency {
    width: 100%;
  }

  #label-productivity {
    width: 100%;
  }

  #label-simplicity {
    width: 100%;
  }

  /*********** Services *************/

  .title-services {
    margin-right: 0;
    text-align: center;
  }

  .title-services span {
    font-size: 4.5rem;
  }

  .span-emphasis {
    margin-left: 0;
    display: block;
    margin-top: 0.5rem;
  }

  /*********** Landing pages **********/

  #landing-pages {
    padding-bottom: 10%;
  }

  .text-content {
    height: 100%;
    margin-left: 2rem;
  }

  .image-content {
    height: 100%;
  }

  /********** Stock-manegement **********/

  #stock-manegement {
    padding: 4rem 0 4rem 0;
  }

  /********** E-commerces **********/

  #e-commerce {
    padding: 4rem 0 4rem 0;
  }

  /******** FAQ *********/

  .faq-item {
    min-height: 125px;
    max-height: 200px;
  }

  /******** Footer *********/

  .navegation {
    display: none;
  }

  .app-info,
  .form {
    width: 45%;
    margin: 0;
  }

  .row {
    justify-content: space-between;
  }
}

/*********** Estilos para dispositivos até 1415 pixels ***********/

@media (min-width: 1025px) and (max-width: 1415px) {
  /*********** Header ***********/

  .section-home {
    padding-bottom: 10%;
  }

  .title-home {
    margin-bottom: var(--spacing-md);
  }

  .subtitles-home {
    margin-top: 0;
  }

  /*********** Navigation Bar ************/

  .menu ul li a {
    font-size: 1.1rem;
  }

  #button-nav {
    display: none;
  }

  /*********** Presentation - Carousel **************/

  .splide__slide.is-active figure .main-figure {
    transform: translate3d(0, 0rem, 0);
    transition-property: opacity, transform;
    width: 90%;
  }

  .splide__slide.is-active figure .main-figure p {
    font-size: 3.5rem;
  }

  .splide__slide.is-active figure .footer-figure {
    transform: translate3d(0, 0rem, 0);
    transition-property: opacity, transform;
    width: 90%;
  }

  /*********** Who-We-Are ************/

  #label-design {
    width: 100%;
  }

  .full-word {
    font-size: 3rem;
  }

  #label-efficiency,
  #label-productivity,
  #label-simplicity {
    width: 100%;
  }

  /*********** Landing pages **********/

  #landing-pages {
    padding-bottom: 10%;
  }

  .text-content {
    height: 100%;
  }

  .image-content {
    height: 100%;
  }

  /********** E-commerces **********/

  #e-commerces {
    height: 100%;
    padding-bottom: 10%;
  }

  /******** FAQ *********/

  .faq-item {
    min-height: 125px;
    max-height: 200px;
  }

  /******** Footer *********/

  .navegation {
    display: none;
  }

  .app-info,
  .form {
    width: 45%;
    margin: 0;
  }

  .row {
    justify-content: space-between;
  }
}
