/*********** Estilos para dispositivos móveis (até 767 pixels) ***********/

@media (max-width: 767px) {
  /********** Body / Commons **********/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    text-align: center;
    overflow-x: hidden;
  }

  /********** Typography **********/

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .titles {
    font-size: 2.25rem;
  }

  .title-home {
    margin-top: 1.5rem;
    font-size: 2.4rem;
  }

  .subtitles {
    font-size: 1rem;
    font-weight: 100;
  }
  
  .subtitles-home {
    padding-top: 1.4rem;
  }

  #title-presentation {
    font-size: 2.735rem;
  }

  #span-presentation {
    font-size: 3.235rem;
  }

  .title-services span {
    font-size: 3rem;
  }

  .title-kaftan {
    font-family: kaftan;
    font-size: 3.5rem;
  }

  .subtitle-kaftan {
    font-family: kaftan;
    font-size: 3rem;
  }

  /**********  Buttons **********/

  .button {
    margin: 0;
  }



  /********* Cursor **********/

  .icon {
    display: none;
  }

  /********** Header **********/

  header {
    padding-top: 0;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  /********** Navigation Bar **********/

  nav {
    width: 100%;
    position: relative;
    z-index: 1000;
  }

  nav img {
    width: 20vh;
    filter: brightness(110%);
    margin: 0 14vh;
  }

  .section-home {
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .section-home h2 {
    margin: 0 0.6rem 0 0.6rem;
  }

  .menu-toggle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #333;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 1001;
    transition: background-color 0.3s ease;
  }

  .menu-toggle:hover {
    background-color: #555;
  }

  .hamburger-icon {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .menu-toggle.active .hamburger-icon span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .menu-toggle.active .hamburger-icon span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .hamburger-icon span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
    transform: scale(0.9);
  }

  .menu.show {
    display: block;
    opacity: 1;
    transform: scale(1);
  }

  .menu ul {
    display: block;
    padding: 10rem;
  }

  .menu ul li {
    width: 20rem;
    margin-top: 10%;
  }

  .links {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }

  .menu.show .links {
    opacity: 1;
    transform: translateY(0);
  }

  /********** Modal Contato ************/

  .label-contato {
    text-align: left;
    display: block;
  }

  /******** Presentation - Carrossel ***********/

  #presentation {
    display: block;
  }

  #presentation #title-presentation {
    margin: 1rem;
  }

  .splide__slide figure video {
    width: 90%;
    height: auto;
  }

  .projects {
    height: 75vh;
  }

  figcaption {
    display: flex;
    flex-direction: column;
  }

  .main-figure,
  .footer-figure {
    opacity: 1;
  }


  figure .main-figure {
    transform: translate3d(0, -6rem, 0);
    transition-property: opacity, transform;
    width: 90%;
  }

  figure .main-figure p{
    font-size: 3rem;
  }

  figure .footer-figure {
    transform: translate3d(0, 8rem, 0);
    transition-property: opacity, transform;
    width: 90%;
    margin-top: 30rem;
  }

  figure:active .videos {
    transform: scale(0.95);
    opacity: 0.65;
  }

  /*********** Who-We-Are ************/

  .container-main {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  .left-features,
  .right-features {
    width: 100%;
    padding: 0 1rem;
  }

  .feature-card {
    height: 100%;
    margin-top: 1rem;
  }
  .feature-card-bgimage {
    display: none;
  }

  .right-features {
    background-color: transparent;
    margin-top: 0rem;
  }

  #img-features {
    margin-top: 2rem;
  }

  #notebook-img {
    max-width: 100%;
  }

  .deps-acronym {
    width: 100%;
  }

  .about-acronym {
    display: none;
  }

  #label-design,
  #label-efficiency,
  #label-productivity,
  #label-simplicity {
    margin-left: 2rem;
    transition: 0.5s;
    width: 85%;
    border-radius: 8vh;
  }

  #label-design:hover,
  #label-design.active {
    margin-left: 2rem;
    cursor: pointer;
    background-color: #ffc700;
    color: white;
  }

  #label-efficiency:hover,
  #label-efficiency.active {
    margin-left: 2rem;
    cursor: pointer;
    background-color: #b00000;
    color: white;
  }

  #label-productivity:hover,
  #label-productivity.active {
    margin-left: 2rem;
    cursor: pointer;
    background-color: #49beff;
    color: white;
  }

  #label-simplicity:hover,
  #label-simplicity.active {
    margin-left: 2rem;
    cursor: pointer;
    background-color: #0046af;
    color: white;
  }

  .deps-titles {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
    position: relative;
    padding: 0.5rem 1rem;
  }

  .deps-titles.active {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
  }

  .deps-titles span {
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  .deps-titles span.full-word {
    opacity: 0;
    transform: translateY(10px);
    display: inline-block;
  }

  .deps-titles.active span.full-word {
    opacity: 1;
    transform: translateY(0);
  }

  .deps-titles span:first-child {
    margin-right: 0.5rem;
  }

  /******** Services **********/

  #services {
    padding-bottom: 5rem;
  }

  .title-services {
    margin-right: 0;
    text-align: center;
  }

  .span-emphasis {
    margin-left: 0;
    display: block;
    margin-top: 0.5rem;
  }

  .d-flex.block-cards {
    display: block;
    margin-top: 2rem;
  }

  .custom-card {
    display: block;
    width: 85%;
    margin-bottom: var(--spacing-sm);
  }

  .card-inner {
    display: block;
    text-align: center;
  }

  .bold {
    font-size: 1.5rem;
  }

  .card-footer {
    font-size: 1.2rem;
  }

  /********* Landing Pages ********/

  #landing-pages {
    height: 100%;
  }

  .landing-pages__content {
    display: block;
    text-align: center;
  }

  .text-content,
  .image-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .image-content {
    margin-top: 2rem;
  }

  .list {
    margin-top: 1.5rem;
  }

  /********* Stock Management *********/

  #stock-management {
    height: 100%;
  }

  .stock-management__content {
    display: flex;
    flex-direction: column;
  }

  .image-content {
    order: 2;
    height: 100%;
  }

  .text-content {
    order: 1;
  }

  .image-content {
    margin-top: 2rem;
  }

  /********* E-commerce *********/

  #e-commerce {
    height: 100%;
  }

  .e-commerce__content {
    display: flex;
    flex-direction: column;
  }

  .image-content {
    margin-top: 2rem;
  }

  /*********** FAQ ************/

  #faq {
    height: 100%;
    padding: 3rem 1rem 1.75rem 1rem;
  }

  #footer {
    padding: 1.5rem;
  }

  .faq-container {
    flex-direction: column;
    gap: 15px;
    height: auto;
  }

  .faq-half {
    flex: 1 1 100%;
  }

  .faq-item {
    min-width: 100%;
    margin-top: 1.5rem;
  }

  #faq h2 {
    font-size: 1.75rem;
  }

  .faq-item h3 {
    font-size: 1.25rem;
  }

  .faq-item p {
    font-size: 0.95rem;
  }

  /*********** Footer ************/

  #footer {
    max-width: 100%;
    overflow-x: hidden;
  }

  .footer-content {
    padding: 1rem;
    box-sizing: border-box;
  }

  .row {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .app-info,
  .navegation,
  .form {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
  }

  .app-name {
    font-size: 1.25rem;
  }

  .app-info p {
    font-size: 0.875rem;
  }

  .navegation {
    display: none;
  }

  .icons-img-links {
    padding-top: 0.5rem;
  }

  .img-links {
    font-size: 1.25rem;
    margin-right: 0.75rem;
  }

  .form h4 {
    font-size: 1rem;
  }

  input,
  textarea {
    font-size: 0.75rem;
    padding: 0.5rem;
  }

  .btn-form {
    width: auto;
    padding: 0.5rem 1rem;
  }

  .copyright {
    font-size: 0.75rem;
  }

  #container-features {
    flex-wrap: wrap;
  }
}

/*********** Estilos para dispositivos móveis (até 1024 pixels) ***********/

@media (min-width: 768px) and (max-width: 1024px) {
  /********* Cursor **********/

  .icon {
    display: none;
  }

  /*********** Navigation Bar ************/

  .menu-toggle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #333;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 1001;
    transition: background-color 0.3s ease;
  }

  .menu-toggle:hover {
    background-color: #555;
  }

  .hamburger-icon {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .menu-toggle.active .hamburger-icon span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .menu-toggle.active .hamburger-icon span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .hamburger-icon span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
    transform: scale(0.9);
  }

  .menu.show {
    display: block;
    opacity: 1;
    transform: scale(1);
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10%;
  }

  .links {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin: 15px 0;
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }

  .menu.show .links {
    opacity: 1;
    transform: translateY(0);
  }

  /*********** carousel ***************/
  
  figure .main-figure {
    transform: translate3d(0, -6rem, 0);
    transition-property: opacity, transform;
    width: 90%;
    margin-top: 5rem;
  }

  figure .main-figure p{
    font-size: 3rem;
  }

  figure .footer-figure {
    transform: translate3d(0, 8rem, 0);
    transition-property: opacity, transform;
    width: 90%;
    margin-top: 35rem;
  }

  /************ acronym **************/

  .deps-acronym {
    width: 100%;
  }

  .about-acronym {
    display: none;
  }

  #label-design,
  #label-efficiency,
  #label-productivity,
  #label-simplicity {
    margin-left: 2rem;
    transition: 0.5s;
    width: 85%;
    border-radius: 8vh;
  }

  #label-design:hover,
  #label-design.active {
    margin-left: 2rem;
    cursor: pointer;
    background-color: #ffc700;
    color: white;
  }

  #label-efficiency:hover,
  #label-efficiency.active {
    margin-left: 2rem;
    cursor: pointer;
    background-color: #b00000;
    color: white;
  }

  #label-productivity:hover,
  #label-productivity.active {
    margin-left: 2rem;
    cursor: pointer;
    background-color: #49beff;
    color: white;
  }

  #label-simplicity:hover,
  #label-simplicity.active {
    margin-left: 2rem;
    cursor: pointer;
    background-color: #0046af;
    color: white;
  }

  .deps-titles {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
    position: relative;
    padding: 0.5rem 1rem;
  }

  .deps-titles.active {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
  }

  .deps-titles span {
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  .deps-titles span.full-word {
    opacity: 0;
    transform: translateY(10px);
    display: inline-block;
  }

  .deps-titles.active span.full-word {
    opacity: 1;
    transform: translateY(0);
  }

  .deps-titles span:first-child {
    margin-right: 0.5rem;
  }

  /************ carousel *************/

  .footer-figure{
    margin-top: 30rem;
  }

  /*********** Who-We-Are ************/

  #label-design {
    width: 80%;
  }

  #label-efficiency {
    width: 90%;
  }

  #label-productivity {
    width: 105%;
  }

  #label-simplicity {
    width: 100%;
  }

    /*********** Landing pages **********/

    #landing-pages{
      height: 100%;
      padding-bottom: 10%;
    }
  
    .text-content{
      height: 100%;
      margin-left: 2rem;
    }
    .image-content{
      height: 100%;
    }
  
    /********** Stock-manegement **********/
  
    #stock-manegement{
      height: 100%;
      padding: 4rem 0 4rem 0;
    }

  
    /********** e-commerces **********/
  
    #e-commerce{
      height: 100%;
      padding: 4rem 0 4rem 0;
    }
  

  /******** FAQ *********/

  .faq-item {
    min-height: 125px;
    max-height: 200px;
  }

  /******** Footer *********/

  .navegation {
    display: none;
  }

  .app-info,
  .form {
    width: 45%;
    margin: 0;
  }

  .row {
    justify-content: space-between;
  }
}

/*********** Estilos para dispositivos móveis (até 1279 pixels) ***********/

@media (min-width: 1025px) and (max-width: 1279px) {
  /********* Cursor **********/

  .icon {
    display: none;
  }

  /*********** Header ***********/

  header{
    height: 100%;
  }

  .section-home{
    height: 100%;
    padding-bottom: 10%;
  }

  /*********** Navigation Bar ************/

  .menu ul li {
    white-space: nowrap; /* Impede a quebra de linha do texto */
  }

  #button-nav{
    display: none;
  }


  /*********** Carousel **************/

  
  figure .main-figure {
    transform: translate3d(0, -6rem, 0);
    transition-property: opacity, transform;
    width: 90%;
  }

  figure .main-figure p{
    font-size: 3.5rem;
  }

  figure .footer-figure {
    transform: translate3d(0, 8rem, 0);
    transition-property: opacity, transform;
    width: 90%;
    margin-top: 40rem;
  }

  /*********** Who-We-Are ************/

  #label-design {
    width: 80%;
  }

  #label-efficiency,
  #label-productivity,
  #label-simplicity {
    width: 90%;
  }

  /*********** Landing pages **********/

  #landing-pages{
    height: 100%;
    padding-bottom: 10%;
  }

  .text-content{
    height: 100%;
    padding-bottom: 10%;
  }
  .image-content{
    height: 100%;
    padding-bottom: 10%;
  }

  /********** Stock-manegement **********/

  #stock-manegement{
    height: 100%;
  }

  /********** e-commerces **********/

  #e-commerces{
    height: 100%;
    padding-bottom: 10%;
  }

  .e-commerce__content{
    padding-bottom: 10%;
  }


  /******** FAQ *********/

  .faq-item {
    min-height: 125px;
    max-height: 200px;
  }

  /******** Footer *********/

  .navegation {
    display: none;
  }

  .app-info,
  .form {
    width: 45%;
    margin: 0;
  }

  .row {
    justify-content: space-between;
  }
}
