/********** Variaveis **********/

:root {
  --color-red-deps: #b00000;
  --color-yellow-deps: #feac0e;
  --color-blue-deps: #0046af;
  --color-faint-blue-deps: #49beff;
  --dark-background: #212529;
  --low-opacity: #b5b5b5;

  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-xl: 4rem;
}

/********** Body / Commons **********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, poppins, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
}

.container-main {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
}

.left-features {
  width: 50%;
  height: 140vh;
}

#card-features-1 {
  background-color: #000;
  height: 70vh;
  display: flex;
  border-radius: 1em;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-md);
}

.right-features {
  background-color: white;
  margin-top: 12%;
  width: 50%;
  height: 120vh;
}

#card-features-2 {
  background-color: #f3f3f3;
  height: 70vh;
  display: flex;
  border-radius: 1em;
  /* Usar flexbox para posicionar elementos */
  flex-direction: column;
  /* Coloca o conteúdo em coluna */
  justify-content: space-between;
  /* Distribui o título para o topo e o parágrafo para o final */
  padding: 10vh;
}

#card-features-3 {
  background-color: white;
  height: 70vh;
  display: flex;
  border-radius: 1em;
  /* Usar flexbox para posicionar elementos */
  flex-direction: column;
  /* Coloca o conteúdo em coluna */
  justify-content: space-between;
  /* Distribui o título para o topo e o parágrafo para o final */
  padding: 10vh;
}

#img-features {
  height: 70vh;
  overflow: hidden;
}

#notebook-img {
  border-radius: 1em;
  height: 100%;
  /* Faz a imagem preencher toda a altura da div */
  width: auto;
  /* Mantém a proporção original da imagem */
  object-fit: cover;
  /* Cobre o contêiner sem distorcer a imagem */
}

.icons {
  margin-top: 4vh;
  font-size: 10vh;
  color: rgb(21, 95, 233);
}

.flex {
  display: flex;
}

/********** Typography **********/

h1,
h2,
h3 {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

p {
  font-family: poppins;
}

.description {
  color: #000;
  font-size: 1.1rem;
  text-align: justify;
  font-weight: 400;
  padding-top: 2rem;
}

.description-cards {
  padding-top: 2rem;
}

.description-acronym {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 150%;
}

.light {
  color: white;
}

.title-home {
  margin-top: 2rem;
  font-size: 3.4rem;
}

#title-presentation {
  color: white;
  padding-top: 5vh;
  text-align: center;
  font-size: 4.4rem;
}

.titles {
  padding: 1rem;
  font-size: 3.4rem;
}

.title-features {
  margin-top: 10px;
  margin-left: 55%;
}

.titles-center {
  text-align: center;
}

.titles-padding {
  margin-top: 30px important;
  font-style: italic important;
}

.titles-card {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titles-acronym {
  font-weight: 700;
}

.titles-end {
  text-align: end;
  margin-right: 2rem;
}

.subtitles {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: poppins;
}

#subtitle-presentation {
  margin-left: 5vh;
  padding-top: 5vh;
  font-size: 1.4rem;
  font-weight: 800;
}

.subtitles-home {
  font-family: Poppins;
  padding-top: 2rem;
}

.first-letter-acronym {
  font-size: 10vh;
}

.list {
  margin-top: 5rem;
  width: 50%;
  margin-right: 1rem;
}

.list li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.links {
  font-size: 1.2rem;
  padding: 2vh;
  font-weight: lighter;
  text-decoration: none;
  color: var(--low-opacity);
  font-family: poppins;
}

.links:hover {
  color: #fff;
}

.link-smooth {
  transition: 0.2s;
}

.link-smooth:hover {
  color: #333;
  cursor: pointer;
}

.link-smooth:active {
  color: #666;
}

.yellow-emphasis {
  color: var(--color-yellow-deps);
}

.blue-emphasis {
  color: var(--color-blue-deps);
}

.light-blue-emphasis {
  color: var(--color-faint-blue-deps);
}

.red-emphasis {
  color: var(--color-red-deps);
}

.bold {
  font-weight: 900;
}

.text-bottom {
  bottom: 0px;
}

.title-kaftan {
  font-family: kaftan;
  font-size: 5rem;
}

.subtitle-kaftan {
  font-family: kaftan;
  font-size: 4rem;
}

/********** Espaçamentos ************/

.margin-right {
  margin-right: 1rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

/**********  Header **********/

header::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../../dist/bg-header.avif');
  background-size: cover;
  z-index: -1;
  background-repeat: no-repeat;
}

header::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

header {
  padding-top: 0px;
  height: 100vh;
  position: relative;
}

.section-home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
  margin-top: 7rem;
  width: 50rem;
  height: 20rem;
}

/********** Navigation Bar **********/
nav {
  display: flex;
  justify-content: space-between;
  font-family: poppins;
  align-items: center;
  height: 15%;
  margin-right: 15vh;
}

nav img {
  margin-left: 10vh;
  margin-top: 50px;
  width: 20%;
  filter: brightness(110%);
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-left: 1.375rem;
}

.menu ul li a {
  text-decoration: none;
  color: var(--low-opacity, #b5b5b5);
  font-weight: 500;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: #fff;
}

/**********  Buttons **********/

.button {
  margin-top: 2.5rem;
  padding: 1.2rem 1.3rem;
  font-family: helvetica;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
  transform: translatey(0px);
  transition: transform 0.6s;
}

.button-yellow {
  color: white;
  background: var(--color-yellow-deps);
}

.button-light-blue {
  color: white;
  background-color: var(--color-faint-blue-deps);
}

.button:hover {
  transform: translatey(-1rem);
  transition: transform 0.6s;
}

#button-header {
  margin-top: 20%;
}

/********** Cards **********/

.block-cards {
  justify-content: center;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  perspective: 1000px;
}

.custom-card {
  position: relative;
  width: 350px;
  height: 450px;
  border-radius: 1em;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.custom-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  border-radius: 1em;
  transition: opacity 0.3s;
}

.custom-card:hover::before {
  opacity: 1;
}

.custom-card-link {
  text-decoration: none;
  color: inherit;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  border-radius: 1em;
  padding: 20px;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.card-back,
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--dark-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  opacity: 0.7;
  /* Ajuste a opacidade para que a imagem seja mais visível */
  transition: opacity 0.3s ease-in-out;
}

.card-front:hover {
  opacity: 0.9;
}

.card-front {
  font-size: 1.5rem;
  background-color: var(--dark-background);
  z-index: 1;
}

.card-back {
  background-color: var(--dark-background);
  transform: rotateY(180deg);
  z-index: 0;
}

.card-footer {
  font-size: 1rem;
  margin-top: 10px;
}

/* Adicione imagens e ícones para cada card */
.custom-card:nth-child(1) {
  background-image: url('../images/landing-page.jpg');
  background-size: cover;
  background-position: center;
}

.custom-card:nth-child(2) {
  background-image: url('../images/ERP.jpg');
  background-size: cover;
  background-position: center;
}

.custom-card:nth-child(3) {
  background-image: url('../images/blue-ecommerce.jpg');
  background-size: cover;
  background-position: center;
}

/******** Features ***********/

#features {
  padding-bottom: 6rem;
  background-color: var(--dark-background);
}

.features-cards {
  margin-top: 5rem;
  list-style: none;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
}

.features-cards li {
  margin-bottom: 10px;
}

/******** Presentation ***********/

#presentation {
  width: 100%;
  height: 100%;
  background-color: var(--dark-background);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.projects-container {
  display: flex;
  width: 100%;
}

.projects {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease, background-position 2s ease;
  border-radius: 1em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.4s ease;
  z-index: 1;
}

.img-stock {
  background-image: url('/src/images/img-controle-estoque.jpg');
}

.img-karine {
  background-image: url('/src/images/psicologa.jpg');
}

.img-gym {
  background-image: url('/src/images/gym-img.jpg');
}

/* Background e hover */

#stock-deps {
  background: linear-gradient(to top, #f59b47, #f3ec78);
  margin-top: 10vh;
}

#karine {
  background: linear-gradient(to top, #135797, #51dde7);
  margin-top: 25vh;
}

#gym {
  background: linear-gradient(to top, #bb1300, #ff7d7d);
}

.projects:hover {
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

.projects:hover .image-overlay {
  opacity: 0.1;
}

.info-card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  padding: 10px;
  text-align: center;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: translateY(100%);
  opacity: 0;
  z-index: 2;
}

.projects:hover .info-card {
  transform: translateY(0);
  opacity: 1;
}


#stock-deps:hover::before,
#karine:hover::before,
#gym:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;

  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.4s ease;
  z-index: 1;
  background-color: inherit;
  /* Mantém o degradê no fundo */
}

/* Imagens específicas para cada card */
#stock-deps:hover::before {
  background-image: url('/src/images/stock.png');
}

#karine:hover::before {
  background-image: url('/src/images/karine.png');
}

#gym:hover::before {
  background-image: url('/src/images/GYM.png');
}

#img-stock {
  width: 45rem;
  height: 30rem;
  border-radius: 20px;
}

#img1-presentation {
  margin-left: 2rem;
}

#img2-presentation {
  margin-right: 2rem;
}

/******** Services **********/

#services {
  display: block;
  background-color: var(--low-opacity);
  padding-top: 5%;
  padding-bottom: 30rem;
  width: 100%;
  height: 100vh;
}

.title-services{
  margin-right: 8rem;
}

.span-emphasis {
  margin-left: 18rem;
}

/********** Who We Are **********/

#who-we-are {
  padding: 2rem 0 4rem 0;
  display: block;
  height: 100%;
  justify-content: center;
  background-color: var(--dark-background);
}

.deps-acronym p {
  transition: opacity 0.5s;
}

.deps-acronym p.active {
  opacity: 1;
}

.deps-acronym p:not(.active) {
  opacity: 0.7;
}

.who-we-are__icons {
  margin-top: 2.5rem;
  width: 10rem;
}

.deps-acronym {
  width: 45%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.about-acronym {
  width: 60%;
  text-align: center;
  margin: 200px auto;
}

input[type='radio'] {
  display: none;
}

label {
  cursor: pointer;
}

#label-design,
#label-efficiency,
#label-productivity,
#label-simplicity {
  transition: 0.5s;
  width: 80%;
  border-radius: 10vh;
}

#label-design:hover {
  padding-left: 2rem;
  cursor: pointer;
  background-color: #ffc700;
  color: white;

}

#label-efficiency:hover {
  padding-left: 2rem;
  cursor: pointer;
  background-color: #b00000;
  color: white;
}

#label-productivity:hover {
  padding-left: 2rem;
  cursor: pointer;
  background-color: #49beff;
  color: white;
}

#label-simplicity:hover {
  padding-left: 2rem;
  cursor: pointer;
  background-color: #0046af;
  color: white;
}

#design {
  display: block;
}

#efficiency {
  display: none;
}

#productivity {
  display: none;
}

#simplicity {
  display: none;
}

/********* E-commerces ********/

#e-commerces {
  padding: 2rem 0 4rem 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-background);
}

.e-commerces__content {
  display: flex;
}

.e-commerces__content img {
  width: 40rem;
  border-radius: 20px;
  margin-left: 10rem;
}

/********* Stock *********/

#stock {
  width: 100%;
  height: 100%;
  padding: 2rem 0 4rem 0;
  background-color: var(--low-opacity);
}

#img-stock {
  width: 30rem;
  height: 20rem;
}

/******* Professional *********/

#professional {
  width: 100%;
  height: 100%;
  padding: 2rem 0 4rem 0;
  background-color: var(--dark-background);
  border-bottom: 1rem solid white;
}

#img-professional {
  margin-top: 2rem;
  width: 30rem;
  border-radius: 2vh;
}

.professional-content {
  margin-left: 2rem;
  width: 100%;
}

/******** Footer *********/

#footer {
  background-color: var(--dark-background);
  color: #ffffff;
  padding: 1.25rem;
  text-align: center;
}

.footer-content {
  display: inline-block;
  width: 100%;
  padding: 1.25rem 0;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.app-info,
.navegation,
.form {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  text-align: left;
  padding: 1rem;
}

.app-name {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.app-info p {
  margin-top: 1rem;
}

.navegation ul {
  list-style: none;
  padding: 0;
}

.navegation ul li.section-title {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 1rem;
}

.navegation ul li a {
  font-size: 1.5rem;
  color: var(--low-opacity);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navegation ul li a:hover,
.img-links:hover {
  color: #fff;
}

.icons-img-links {
  padding-top: 7rem;
}

.img-links {
  font-size: 2rem;
  color: var(--low-opacity);
  margin-right: 1.5rem;
}

div a {
  text-decoration: none;
}

.form h4 {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 1rem;
}

.form-wrapper {
  text-align: left;
}

input,
textarea {
  font-size: 1rem;
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
}

.btn-form {
  width: auto;
  padding: 0.75rem 1.15rem;
  background-color: var(--color-blue-deps);
  color: #ffffff;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
}

.btn-form:hover {
  background-color: var(--color-faint-blue-deps);
}

.copyright {
  text-align: center;
  font-size: 1rem;
  margin-top: 1.25rem;
  color: var(--low-opacity);
}

/********** WhatsApp **********/

.whatsapp-button {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-decoration: none;
}

.whatsapp-button:hover {
  background-color: #1ebea5;
}