/********** Body / Commons **********/

* {
  margin: 0;
  padding: 0;
}

.container-main {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
}

.left-features {
  width: 50%;
  height: 140vh;
}

#card-features-1 {
  background-color: #000;
  height: 70vh;
  display: flex;
  /* Usar flexbox para posicionar elementos */
  flex-direction: column;
  /* Coloca o conteúdo em coluna */
  justify-content: space-between;
  /* Distribui o título para o topo e o parágrafo para o final */
  padding: 20px;
}

.left-features,
p {
  font-family: poppins;
}

.right-features {
  background-color: white;
  margin-top: 12%;
  width: 50%;
  height: 120vh;
}

#card-features-2 {
  background-color: #f3f3f3;
  height: 70vh;
  display: flex;
  /* Usar flexbox para posicionar elementos */
  flex-direction: column;
  /* Coloca o conteúdo em coluna */
  justify-content: space-between;
  /* Distribui o título para o topo e o parágrafo para o final */
  padding: 10vh;
}

#card-features-3 {
  background-color: white;
  height: 70vh;
  display: flex;
  /* Usar flexbox para posicionar elementos */
  flex-direction: column;
  /* Coloca o conteúdo em coluna */
  justify-content: space-between;
  /* Distribui o título para o topo e o parágrafo para o final */
  padding: 10vh;
}

#img-features {
  height: 70vh;
  overflow: hidden;
}

#lampada-img {
  height: 100%;
  /* Faz a imagem preencher toda a altura da div */
  width: auto;
  /* Mantém a proporção original da imagem */
  object-fit: cover;
  /* Cobre o contêiner sem distorcer a imagem */
}



.icons {
  margin-top: 4vh;
  font-size: 10vh;
  color: rgb(21, 95, 233);
}

.flex {
  display: flex;
}

/********** Typography **********/

h1,
h2,
h3 {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

p {
  font-family: poppins;
}

.description {
  color: #000;
  font-size: 1.1rem;
  text-align: justify;
  font-weight: 400;
  margin-top: 2rem;
}

.description-cards {
  margin-top: 2rem;
}

.description-acronym {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 150%;
}

.light {
  color: white;
}

.title-home {
  font-family: Poppins;
  margin-top: 2rem;
  font-size: 3.4rem;
}

#title-presentation {
  color: white;
  margin-top: 5vh;
  text-align: center;
  font-size: 4.4rem;

}

.titles {
  font-family: Poppins;
  margin-top: 2rem;
  font-size: 3.4rem;
}

.title-features {
  margin-top: 10px;
  margin-left: 55%;
}

.titles-center {
  text-align: center;
}

.titles-padding {
  margin-top: 30px important;
  font-style: italic important;
}

.titles-card {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titles-acronym {
  font-weight: 700;
}

.titles-end {
  text-align: end;
  margin-right: 2rem;
}

.subtitles {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: poppins;
}

#subtitle-presentation {
  margin-left: 5vh;
  margin-top: 5vh;
  font-size: 1.4rem;
  font-weight: 800;
}

.subtitles-home {
  font-family: Poppins;
  margin-top: 2rem;
}
 

.list {
  margin-top: 5rem;
  width: 50%;
  margin-right: 1rem;
}

.list li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.links {
  font-size: 1.2rem;
  padding: 2vh;
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-family: poppins;
}

.yellow-emphasis {
  color: #feac0e;
}

.blue-emphasis {
  color: #0046af;
}

/**********  Header **********/

header::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../../dist/bg-header.avif');
  background-size: cover;
  z-index: -1;
  background-repeat: no-repeat;
}

header::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

header {
  padding-top: 0px;
  height: 100vh;
  position: relative;
}

.section-home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
  margin-top: 7rem;
  width: 50rem;
  height: 20rem;
}

/********** Navigation Bar **********/

nav {
  display: flex;
  justify-content: space-between;
  font-family: poppins;
  align-items: center;
  height: 15%;
  margin-right: 15vh;
}

nav img {
  margin-left: 10vh;
  margin-top: 50px;
  width: 20%;
  filter: brightness(110%);
  float: left;
}

.menu-toggle {
  display: none;
}

/**********  Buttons **********/

.button {
  margin-top: 2.5rem;
  padding: 1.2rem 1.3rem;
  font-family: helvetica;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
  transform: translatey(0px);
  transition: transform 0.6s;
}

.button-yellow {
  color: white;
  background: #feac0e;
}

.button-light-blue {
  color: white;
  background-color: #49beff;
}

.button:hover {
  transform: translatey(-1rem);
  transition: transform 0.6s;
}

#button-header {
  margin-top: 20%;
}

/********** Cards **********/

.block-cards {
  justify-content: center;
  margin-top: 5rem;
  display: flex;
  width: 100%;
  gap: 4rem;
  perspective: 1000px; /* Adiciona perspectiva para o efeito 3D */
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Define a perspectiva para o efeito flip */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Mantém o efeito 3D */
  transition: transform 0.8s; /* Transição suave para o flip */
  border-radius: 1em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.card:hover .card-inner {
  transform: rotateY(180deg); /* Rotaciona o card em 3D ao passar o mouse */
}

.card-front, 
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Oculta a face traseira quando a frente é visível */
  display: flex;
  flex-direction: column; /* Alinha o texto em coluna */
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  padding: 20px;
  text-align: center; /* Centraliza o texto */
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  color: #212121;
}

.card-front {
  background-color: rgba(255, 255, 255, 0.85); /* Mantém a cor de fundo original */
}

.card-back {
  background-color: rgba(255, 255, 255, 0.7); /* Mantém a cor de fundo original */
  transform: rotateY(180deg); /* A face de trás está inicialmente invisível */
}

.card-footer {
  font-size: 0.85em;
  color: #446;
  margin-top: 10px; /* Espaçamento entre os textos */
}

/******** Features ***********/
#features {
  padding-bottom: 6rem;
  background-color: #202020;
}

.features-cards {
  margin-top: 5rem;
  list-style: none;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
}

.features-cards li {
  margin-bottom: 10px;
}
/******** Presentation ***********/

#presentation {
  width: 100%;
  height: 100%;
  background-color: #202020;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.projects-container {
  display: flex;
  width: 100%;
}

.projects {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease, background-position 2s ease; /* Adiciona a transição para o degradê */
  z-index: 1;
  background-size: 100% 200%; /* Define o tamanho do degradê para ser maior verticalmente */
  background-position: bottom; /* Inicia o degradê da parte inferior */
}

/* Estilo da imagem que cobre o card antes do hover */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover; /* Cobre o card inteiro com a imagem */
  background-position: center;
  transition: opacity 0.4s ease;
  z-index: 1;
}

/* Background e hover */
#stock-deps {
  background: linear-gradient(to top, #f59b47, #f3ec78); /* Degradê de baixo para cima */
  margin-top: 10vh;
}

#karine {
  background: linear-gradient(to top, #135797, #51dde7); /* Degradê de baixo para cima */
  margin-top: 25vh;
}

#gym {
  background: linear-gradient(to top, #bb1300, #ff7d7d); /* Degradê de baixo para cima */
}

.projects:hover {
  background-position: top; /* Move o degradê para o topo ao passar o mouse */
  transform: scale(1.1);
  z-index: 10;
}

.projects:hover .image-overlay {
  opacity: 0; /* Oculta a imagem ao passar o mouse */
}

/* Estilo do card de informação */
.info-card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  padding: 10px;
  text-align: center;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: translateY(100%);
  opacity: 0;
  z-index: 2;
}

.projects:hover .info-card {
  transform: translateY(0);
  opacity: 1;
}

/* Efeito de imagem pequena centralizada */
#stock-deps:hover::before,
#karine:hover::before,
#gym:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px; /* Tamanho da imagem centralizada */
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.4s ease;
  z-index: 1;
  background-color: inherit; /* Mantém o degradê no fundo */
}

/* Imagens específicas para cada card */
#stock-deps:hover::before {
  background-image: url('/src/images/stock.png');
}

#karine:hover::before {
  background-image: url('/src/images/karine.png');
}

#gym:hover::before {
  background-image: url('/src/images/GYM.png');
}


.content {
  display: flex;
  margin-top: 2rem;
}

.content img {
  width: 45rem;
  height: 30rem;
  border-radius: 20px;
}

#img1-presentation {
  margin-left: 2rem;
}

#img2-presentation {
  margin-right: 2rem;
}

/******** Prices *************/

#prices {
  display: block;
  background-color: #212121;
  padding-top: 5%;
  padding-bottom: 30vh;
  width: 100%;
  height: 100vh;
}

/********** WHO WE ARE **********/

#who-we-are {
  padding-top: 1rem;
  display: block;
  height: 100%;
  justify-content: center;
}

.who-we-are__icons {
  margin-top: 2.5rem;
  width: 10rem;
}

.pointer {
  margin-top: 6.2rem;
  height: 70vh;
  border: 5px solid #ffc700;
  border-radius: 0.2rem;
  transition: border-color 0.3s ease-in;
}

.deps-acronym {
  width: 35%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.about-acronym {
  width: 60%;
  text-align: center;
  margin: 200px auto;
}

input[type='radio'] {
  display: none;
}

label {
  cursor: pointer;
}

#label-design,
#label-efficiency,
#label-productivity,
#label-simplicity {
  width: 70%;
  border-radius: 10vh;
}

#label-design:hover {
  padding-left: 4vh;
  cursor: pointer;
  background-color: #ffc700;
  color: white;
}

#label-efficiency:hover {
  padding-left: 4vh;
  cursor: pointer;
  background-color: #b00000;
  color: white;
}

#label-productivity:hover {
  padding-left: 4vh;
  cursor: pointer;
  background-color: #49beff;
  color: white;
}

#label-simplicity:hover {
  padding-left: 4vh;
  cursor: pointer;
  background-color: #0046af;
  color: white;
}

#design {
  display: block;
}

#efficiency {
  display: none;
}

#productivity {
  display: none;
}

#simplicity {
  display: none;
}

/********* E-commerces ********/

#e-commerces {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  background-color: #dedede;
}

.e-commerces__content {
  display: flex;
  padding-top: 2rem;
}

.e-commerces__content img {
  width: 40rem;
  border-radius: 20px;
  margin-left: 10rem;
}

/********* Stock *********/

#stock {
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
}

#img-stock {
  width: 30rem;
  height: 20rem;
}

/******* Professional *********/

#professional {
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
  background-color: #dedede;
}

#img-professional {
  margin-top: 2rem;
  width: 30rem;
  border-radius: 2vh;
}

.professional-content {
  margin-left: 2rem;
  width: 100%;
}

/******** Footer ***********/

:root {
  --theme-col: #2d4bf0;
}

footer .app-name {
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

footer .app-name .app-initial {
  color: var(--theme-col);
}

footer .app-info p {
  padding-left: 1.65rem;
}

footer .footer-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  height: fit-content;
}

.space-y-2> :not([hidden])~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

a.text-white {
  color: #ffffff;
  text-decoration: none;
}

a.text-white:hover {
  color: #d4d4d4;
  cursor: pointer;
}

/********** WhatsApp **********/

.whatsapp-button {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-decoration: none;
}

.whatsapp-button:hover {
  background-color: #1ebea5;
}

/********** MODAL **********/

.modal-success .modal-content {
  background-color: #80e459;
  /* Verde */
}

.modal-danger .modal-content {
  background-color: #b85959;
  /* Vermelho */
}