@import "./globals.css";

/********** Loader content ************/

.loader-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader-container {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: var(--dark-background);
  display: grid;
  place-content: center;
}

.loader {
  width: 4rem;
  height: 4rem;
  border: 0.4rem solid var(--color-yellow-deps);
  border-left-color: var(--color-yellow-deps);
  border-top-color: var(--color-red-deps);
  border-right-color: var(--color-blue-deps);
  border-bottom-color: var(--color-faint-blue-deps);
  border-radius: 50%;
  animation: 0.8s ease infinite alternate spinner;
}

@keyframes spinner {
  to {
    transform: rotate(1turn) scale(1.2);
  }
}

/********** Body **********/

body {
  background-color: var(--dark-background);
}

/**********  Buttons **********/

.button {
  margin-top: 2.5rem;
  padding: 1.2rem 1.3rem;
  font-family: helvetica;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
  transform: translatey(0px);
  transition: transform 0.6s;
}

.button-yellow {
  color: white;
  background: var(--color-yellow-deps);
}

.button:hover {
  transform: translatey(-1rem);
  transition: transform 0.6s;
}

#button-header {
  margin-top: 20%;
}

/**********  Header **********/

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/src/images/bg-header.avif");
  background-size: cover;
  z-index: -1;
  background-repeat: no-repeat;
}

header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

header {
  padding-top: 0;
  padding-bottom: 10%;
  height: 100%;
  position: relative;
}

.section-home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 7rem 0 0 5rem;
  height: 100%;
}

.title-home {
  margin-top: var(--spacing-md);
  font-size: 3.5rem;
}

.subtitles-home {
  margin-top: var(--spacing-md);
}

/********** Navigation Bar **********/

nav {
  display: flex;
  justify-content: space-between;
  font-family: poppins;
  align-items: center;
  height: 10rem;
  margin-right: 10rem;
}

.logo-nav {
  margin-left: 4rem;
  margin-top: 4rem;
  width: 20rem;
  filter: brightness(110%);
}

.menu-toggle {
  display: none;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-left: 1.375rem;
  white-space: nowrap;
}

.menu ul li a {
  text-decoration: none;
  color: var(--low-opacity);
  font-weight: 500;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: #fff;
}

#button-nav {
  padding: 1.2rem 1.7rem;
  margin-top: 0;
}

/********** Modal Contato ************/

.modal label {
  color: #fff;
}

#contatoModalLabel {
  font-size: 1.5rem;
}

.modal-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.modal-content-contato {
  border-radius: 10px;
  background-color: #f7f7f7;
}

.img-modal {
  font-size: 2.2rem;
  color: #fff;
}

.modal-dialog {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 40rem;
}

.modal-header-contato {
  background-color: #101113;
  color: #fff;
  border-bottom: none;
  padding: 1.2rem;
}

.modal-body {
  background-color: var(--dark-background);
  padding: 2rem 2rem 0 2rem;
}

.modal-body-contato {
  background-color: var(--dark-background);
  padding: 3rem 2rem 0 2rem;
}

.mb-3.px-3:first-child {
  margin-top: 1rem;
}

.input-contato {
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  background-color: #fff;
  padding: 1rem;
}

.textarea-contato {
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  padding: 10px;
}

.modal-footer-contato {
  background-color: var(--dark-background);
  color: #fff;
  border-top: none;
}

.btn-close {
  color: white;
}

.modal-header-contato .btn-close {
  filter: invert(1);
}

.btn-cancelar {
  background-color: var(--color-red-deps);
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 0.65rem 1rem;
  min-width: 4rem;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.btn-cancelar:hover {
  background-color: #8b0a0a;
}

.btn-enviar {
  background-color: var(--color-yellow-deps);
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 0.65rem 1rem;
  min-width: 4rem;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.btn-enviar:hover {
  background-color: #ffd700;
}

/******** Presentation - Carousel ***********/

#presentation {
  width: 100%;
  height: auto;
  background-color: var(--dark-background);
  padding: 5rem 0;
}

#title-presentation {
  color: white;
  text-align: center;
  font-size: 4rem;
}

#span-presentation {
  font-size: 4.5rem;
}

.splide {
  transition: transform 0.5s ease-in-out;
}

.splide__slide {
  transition: transform 0.5s ease-in-out;
}

.splide__slide.is-prev,
.splide__slide.is-next {
  opacity: 0.7;
  transform: scale(0.98);
}

.splide__slide figure video {
  width: 80%;
  height: auto;
}
.my-slider-progress {
  background: #ccc;
}

.my-slider-progress-bar {
  background: #ffc700;
  height: 5px;
  transition: width 400ms ease;
  width: 0;
}
ul.splide__pagination {
  display: none;
}

/******* Background *******/

#stock-deps {
  background-image: linear-gradient(to top, #f59b47, #f3ec78);
}

#karine {
  background-image: linear-gradient(to top, #135797, #51dde7);
}

#gym {
  background-image: linear-gradient(to top, #bb1300, #ff7d7d);
}

.projects {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  transition:
    transform 1s ease,
    background-position 1.5s ease;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.splide__slide.is-active .projects {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

figure {
  width: 100%;
  overflow: hidden;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.splide__slide.is-active figure .videos {
  transform: scale(0.95);
  opacity: 0.65;
}

figcaption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  inset: 0;
  pointer-events: none;
  padding: 3rem;
}

.main-figure {
  line-height: 0.5em;
  font-size: 7rem;
  margin-left: 4.5%;
}

.footer-figure {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: 4.5%;
}

.main-figure,
.footer-figure {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.splide__slide.is-active figure .main-figure {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.splide__slide.is-active figure .footer-figure {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

figcaption::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(50deg, rgba(73, 73, 73, 0.24) 0%, #151618 100%);
  z-index: -1;
  opacity: 0;
  transition-property: opacity;
  overflow: hidden;
}

.splide__slide.is-active figcaption::before {
  opacity: 1;
}

figcaption:before,
figure .videos,
figure .main-figure,
figure .footer-figure {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

figure img {
  transform: scale(1.1);
  transition-property: transform;
}

/********** Who We Are **********/

#who-we-are {
  padding: 2rem 0 4rem 0;
  display: block;
  height: 100%;
  justify-content: center;
  background-color: var(--dark-background);
}

#who-we-are h2 {
  margin: var(--spacing-xl);
}

.container-main {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
}

#container-features {
  display: flex;
  width: 100%;
  gap: 0.8rem;
  padding: 0 1rem;
  height: fit-content;
}

.title-features {
  margin-top: 10px;
  margin-left: 55%;
}

.features-list {
  display: flex;
  width: 50%;
  gap: 0.8rem;
  flex-direction: column;
  background-color: white;
}

.left-features {
  background-color: transparent;
}

.right-features {
  background-color: transparent;
  margin-top: 8rem;
}

.feature-card {
  background-color: #f7f7f7;
  height: 70vh;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-xl);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.feature-card-dark {
  background-color: #020202;
  color: white !important;
}

.feature-card-bgimage {
  background-image: radial-gradient(
      circle,
      rgba(0, 212, 255, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    var(--feature-card-bgimage);
  background-size: cover;
}

div.feature-card h2 {
  margin: 0 !important;
  padding: 1.5rem 1rem;
  font-size: 27px;
}

div.feature-card p {
  font-size: 18px;
  padding-bottom: 1rem;
}

#notebook-img {
  border-radius: 8px;
  height: 100%;
  width: auto;
  object-fit: cover;
}

.feature-card div h2 {
  padding: 0 0 1rem 0;
}

/********* Acronym ********/

.deps-acronym p {
  transition: opacity 0.5s;
}

.deps-acronym p.active {
  opacity: 1;
}

.who-we-are__icons {
  width: 10rem;
}

.container-acronym {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deps-acronym {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.first-letter-acronym {
  font-size: 10vh;
}

.description-acronym {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 150%;
}

.about-acronym {
  width: 60%;
  height: 100%;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
}

#label-design,
#label-efficiency,
#label-productivity,
#label-simplicity {
  transition: 0.5s;
  width: 85%;
  border-radius: 10vh;
}

#label-design:hover,
#label-design.active {
  padding-left: 2rem;
  cursor: pointer;
  background-color: #ffc700;
  color: white;
}

#label-efficiency:hover,
#label-efficiency.active {
  padding-left: 2rem;
  cursor: pointer;
  background-color: #b00000;
  color: white;
}

#label-productivity:hover,
#label-productivity.active {
  padding-left: 2rem;
  cursor: pointer;
  background-color: #49beff;
  color: white;
}

#label-simplicity:hover,
#label-simplicity.active {
  padding-left: 2rem;
  cursor: pointer;
  background-color: #0046af;
  color: white;
}

#design {
  display: block;
}

#efficiency {
  display: none;
}

#productivity {
  display: none;
}

#simplicity {
  display: none;
}

/******** Services **********/

#services {
  display: block;
  background-color: var(--low-opacity);
  padding-top: 5%;
  padding-bottom: 10rem;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.title-services {
  margin-right: 8rem;
}

.span-emphasis {
  margin-left: 18rem;
}

/********** Cards Services **********/

.block-cards {
  justify-content: center;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  perspective: 1000px;
}

.custom-card {
  position: relative;
  width: 350px;
  height: 450px;
  border-radius: 1em;
  background-size: cover;
  background-position: center;
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.1),
    0 2px 5px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.15),
    0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.custom-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  border-radius: 1em;
  transition: opacity 0.3s;
}

.custom-card:hover::before {
  opacity: 1;
}

.custom-card-link {
  text-decoration: none;
  color: inherit;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--dark-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.card-front:hover {
  opacity: 0.9;
}

.card-front {
  font-size: 1.5rem;
  background-color: var(--dark-background);
  z-index: 1;
}

.card-footer {
  font-size: 1rem;
  margin-top: var(--spacing-sm);
}

.custom-card:nth-child(1) {
  background-image: url("../images/services-landing-page.avif");
  background-size: cover;
  background-position: center;
}

.custom-card:nth-child(2) {
  background-image: url("../images/services-erp.avif");
  background-size: cover;
  background-position: center;
}

.custom-card:nth-child(3) {
  background-image: url("../images/services-e-commerce.avif");
  background-size: cover;
  background-position: center;
}

/******** Listas Services **********/

.list {
  margin-top: 5rem;
  width: 50%;
  margin-right: 1rem;
}

.list li {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/********* Landing Pages ********/

#landing-pages {
  width: 100%;
  height: 100%;
  padding: 4rem 0 4rem 0;
  background-color: var(--dark-background);
}

.landing-pages__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text-content {
  width: 60%;
  height: 70vh;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-content {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-pages__content img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.list {
  width: 100%;
  margin-top: 1rem;
}

/********* Stock Management *********/

#stock-management {
  height: 100%;
  padding: 2rem 0 4rem 0;
  background-color: var(--low-opacity);
}

.stock-management__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#img-stock-management {
  margin-top: 2rem;
  width: 100%;
  border-radius: 2vh;
}

text-content description {
  margin-top: 5rem;
}

.description {
  margin-top: 1rem;
}

/******** E-commerce *********/

#e-commerce {
  padding: 4rem 0;
  height: 100%;
  background-color: var(--dark-background);
}

.e-commerce__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.additional-paragraphs {
  margin-top: 2rem;
}

#img-e-commerce {
  width: 100%;
  border-radius: 2vh;
  margin-bottom: 2rem;
}

/******** FAQ ********/

#faq {
  padding: 3rem 1.25rem 5rem 1.25rem;
  background-color: var(--low-opacity);
  height: 100%;
}

#faq h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.faq-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.faq-half {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.faq-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(50% - 20px);
  min-width: 300px;
  cursor: pointer;
  position: relative;
  margin-top: 2rem;
}

.faq-item h3 {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-item .faq-arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.5s ease;
}

.faq-item p {
  margin-top: 10px;
  font-size: 1rem;
  color: #666;
  height: 0;
  overflow: hidden;
  transition:
    height 0.8s ease,
    opacity 0.8s ease;
  opacity: 0;
}

.faq-item.ativo p {
  height: auto;
  opacity: 1;
}

.faq-item.ativo .faq-arrow {
  transform: rotate(180deg);
}

.faq-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/******** Footer *********/

#footer {
  background-color: var(--dark-background);
  color: #ffffff;
  padding: 1.25rem 5rem;
  text-align: center;
}

.footer-content {
  display: inline-block;
  width: 100%;
  padding: 1.25rem 0;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.app-info,
.navegation,
.form {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  text-align: left;
  padding: 1rem;
}

.app-name {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.app-info p {
  margin-top: 1rem;
}

.app-info,
.form {
  width: 25%;
  vertical-align: top;
  text-align: left;
  padding: 1rem;
  margin-left: var(--spacing-xl);
  margin-right: var(--spacing-xl);
}

.navegation {
  width: 25%;
  text-align: center;
  margin: 0 auto;
}

.navegation ul {
  display: inline-block;
  text-align: left;
  list-style-type: none;
}

.navegation ul li.section-title {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 1rem;
}

.navegation ul li a {
  font-size: 1.5rem;
  color: var(--low-opacity);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navegation ul li a:hover,
.img-links:hover {
  color: #fff;
}

.icons-img-links {
  padding-top: 7rem;
}

.icons-img-links a {
  text-decoration: none;
}

.img-links {
  font-size: 2rem;
  color: var(--low-opacity);
  margin-right: 1.5rem;
  transition: color 0.4s ease;
}

.form h4 {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 1rem;
}

.form-wrapper {
  text-align: left;
}

input,
textarea {
  font-size: 1rem;
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
}

.btn-form {
  width: auto;
  padding: 0.7rem 1.1rem;
  background-color: var(--color-blue-deps);
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

.btn-form:hover {
  background-color: var(--color-faint-blue-deps);
}

.copyright {
  text-align: center;
  font-size: 1rem;
  margin-top: 1.25rem;
  color: var(--low-opacity);
}

/********** WhatsApp **********/

.whatsapp-button {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-decoration: none;
}

.whatsapp-button:hover {
  background-color: #1ebea5;
}
